@inject IAppSettings appSetting
@inject UsuarioAutenticado ua;


@{
    var permissoes = ua.Permissoes;
}

<!DOCTYPE html>

<html>

<head lang="pt-br">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@(!string.IsNullOrEmpty(ViewData["Title"].ToString().Trim()) ? ViewData["Title"].ToString().Trim() + " - " : "")E-Gestora Academy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Treinamento Capacitação Loja Virtual E-Commerce Delivery Varejo Mercado Sistema Tabela de Preço Super Painel Digital ERP Retaguardar PDV Frente de Caixa" name="keywords">
    <meta content="O Portal oficial de capacitação da E-Gestora Sistemas e Soluções" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/img/favicon.png">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/template/online-education-website-template/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/template/online-education-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/template/online-education-website-template/custom.css" rel="stylesheet">
    <link href="~/template/online-education-website-template/css/style.css" rel="stylesheet">

    @RenderSection("Styles", required: false)

    @* //Deve ser importado no início *@
    <script>
        const BASE_URL = "@appSetting.BaseURL";
    </script>
    <script src="~/js/site.js?cache=@appSetting.Version"></script>
    <link href="~/css/site.css?cache=@appSetting.Version" rel="stylesheet" />
    <link href="~/css/loading.css?cache=@appSetting.Version" rel="stylesheet" />
    <script src="~/js/HTTPClient.js?cache=@appSetting.Version"></script>

</head>

@{
    dynamic sideBarItens = new List<dynamic>();

    if (ua.Autenticado)
    {

        // var materiaisEducativos = new { Titulo = "Administrativo", IconeClass = "fas fa-graduation-cap", Filhos = new List<dynamic>() };

        // if (permissoes.Contains(PerfilUsuarioViewModel.TpPermissao.GerenciarMateriaisEducativos))
        // {
        //     materiaisEducativos.Filhos.Add(new { Titulo = "Materiais", HRef = "Administrativo/MaterialEducativo", IconeClass = "fas fa-graduation-cap" });
        // }

        // if (permissoes.Contains(PerfilUsuarioViewModel.TpPermissao.GerenciarCategoriasMateriaisEducativos))
        // {
        //     materiaisEducativos.Filhos.Add(new { Titulo = "Categorias", HRef = "Administrativo/MaterialEducativoCategoria", IconeClass = "far fa-bookmark" });
        // }

        // if (materiaisEducativos.Filhos.Count > 0)
        // {
        //     sideBarItens.Add(materiaisEducativos);
        // }
    }
}

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><a class="text-white" href="tel:+55 0800 770 2014"><i class="fa fa-phone-alt mr-2"></i>0800 770 2014</a></small>
                    <small class="px-3">|</small>
                    <small><a class="text-white" href="mailto:egestora@egestora.com.br"><i class="fa fa-envelope mr-2"></i>egestora@egestora.com.br</a></small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right" id="topbar-icons">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" target="_blank" href="https://www.fb.com/egestora">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" target="_blank" href="https://wa.me/551832262200">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="text-white px-2" target="_blank" href="https://www.linkedin.com/company/egestorasistemasesolucoes/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" target="_blank" href="https://www.instagram.com/egestora">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" target="_blank" href="https://www.youtube.com/channel/UC3HDkZCLaw1c0Tyxe2YxKnw">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="/" class="navbar-brand top ml-lg-3">
                <img src="~/template/online-education-website-template/img/logo.png" alt="Logo">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
                <div class="navbar-nav py-0" style="width: 100%;">
                    <a href="/Home" class="nav-item nav-link">Início</a>
                    <a href="/ConsultarCategoria#cursos" class="nav-item nav-link">Capacitações</a>
                    <a href="https://www.egestora.com.br" class="nav-item nav-link">E-Gestora</a>
                    <a href="/Home#emailContato" class="nav-item nav-link">Contato</a>

                    @foreach (var pai in sideBarItens)
                    {
                        string urlAtual = Context.Request.Path.ToString().ToLower().Replace("/", "");
                        string href = (pai.GetType().GetProperty("HRef") == null) ? "#" : (@pai.HRef);

                        bool isActivedChild = ((IEnumerable<dynamic>)pai.Filhos).Cast<dynamic>().Where(f => f.HRef.ToLower() == urlAtual).ToList().Count() > 0;

                        if ((pai.Titulo == "Gerenciador" && urlAtual.ToLower() == "home") || sideBarItens.Count == 1)
                        {
                            isActivedChild = true;
                        }

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle nav-link-dropdown" data-toggle="dropdown">@pai.Titulo</a>
                            @if (pai.Filhos.Count > 0)
                            {
                                <div class="dropdown-menu m-0">
                                    <a href="~/Administrativo/MaterialEducativo/Dashboard" class="dropdown-item">Dashboard</a>
                                    @foreach (var filho in pai.Filhos)
                                    {
                                        <a href="~/@filho.HRef" class="dropdown-item @(urlAtual.ToLower().Equals(filho.HRef.ToLower().Replace("/", "")) ? "active" : "")" class="dropdown-item">@filho.Titulo</a>
                                    }
                                </div>
                            }
                        </div>
                    }

                </div>

                @if (ua.Autenticado)
                {
                    <ul class="navbar-nav ml-auto">
                        <!-- Messages Dropdown Menu -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="user-panel d-flex align-items-center">
                                    <i class="user-image fas fa-user-circle"></i>
                                    <div class="d-flex flex-column">
                                        <span class="user-name text-bold">@ua.NomeAbreviado</span>
                                        <div class="user-role text-gray"> @ua.PerfilNome</div>
                                    </div>

                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="left: inherit; right: 0px;">
                                <a href="~/Login/RecuperarSenha" class="dropdown-item">
                                    <i class="fas fa-key"></i>Alterar Senha
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="~/Login/Sair" class="dropdown-item">
                                    Sair
                                </a>
                            </div>
                        </li>

                    </ul>
                }
                else
                {
                    <a href="~/Login" class="btn btn-primary py-2 px-4">Entrar</a>
                }
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <!-- Header Start-->
    @if (ViewData["MostrarTopo"] == null)
    {
        <div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
            <div class="container text-center my-2 py-2">

                @{
                    bool topoExpandido = ViewData["TopoExpandido"] != null && (bool)ViewData["TopoExpandido"] == true;

                    if (topoExpandido)
                    {
                        <h1 class="title-minor text-white mt-2 mb-4 ">@ViewData["PaginaTituloMenor"]</h1>
                        <h1 class="text-white display-3 mb-5">@ViewData["PaginaTitulo"]</h1>
                    }
                }


                <div class="mx-auto @(topoExpandido ? "mb-5" : "")" style="width: 100%; max-width: 600px;">
                    <form method="get" action="~/Consultar#resultados">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control border-light" style="padding: 30px 25px" placeholder="Palavra-chave" />
                            <div class="input-group-append">
                                <button class="btn btn-secondary px-4 px-lg-5">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="mb-3"></div>
    }
    <!-- Header End-->
    <!-- Main content -->
    @if (ViewData["MenuMigalhaItem"] != null)
    {
        <a name="conteudoSelecionado"></a>

        <div class="container-fluid">
            @await Html.PartialAsync("~/Views/Shared/_MenuMigalha.cshtml", (List<MenuMigalhaItem>)ViewData["MenuMigalhaItem"])
        </div>
    }

    @if (ViewData["BodyPadrao"] == null)
    {
        <div class="content-fluid py-5">
            <div class="container py-4">

                @if (ViewData["PaginaSubtitulo"] != null)
                {
                    <div class="row mx-0 justify-content-center">
                        <div class="col-lg-8">
                            <div class="section-title text-center position-relative mb-5">
                                <h1 class="pb-3">@ViewData["PaginaSubtitulo"]</h1>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="px-5">
                @RenderBody()
            </div>

        </div>
    }
    else
    {
       
        @RenderBody()
    }


    <!-- /.content -->
    <!-- Footer Start -->
    <footer id="footer">
        <div class="container-fluid position-relative overlay-top bg-dark text-white pb-3 pt-5" style="margin-top: 60px;">
            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <a href="https://www.egestora.com.br" class="navbar-brand footer">
                            <img src="~/img/logo/egestora-branco.png" class="footer-logo" alt="Logo">
                        </a>
                        <p class="slogan">As soluções práticas que você merece</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 mb-5">
                        <p>
                            <i class="fa fa-map-marker-alt mr-2"></i>Avenida Manoel Goulart, 986 - Centro,
                            <br />
                            Presidente Prudente - SP, Brasil
                        </p>
                        <p><i class="fa fa-phone-alt mr-2"></i>0800 770 2014</p>
                        <p><i class="fa fa-envelope mr-2"></i>egestora@egestora.com.br</p>

                        <div class="d-flex justify-content-start mt-4">
                            <a class="text-white mr-4" href="https://wa.me/551832262200" target="_blank"><i class="fab fa-2x fa-whatsapp"></i></a>
                            <a class="text-white mr-4" href="https://www.fb.com/egestora" target="_blank"><i class="fab fa-2x fa-facebook-f"></i></a>
                            <a class="text-white mr-4" href="https://www.linkedin.com/company/egestorasistemasesolucoes/" target="_blank"><i class="fab fa-2x fa-linkedin-in"></i></a>
                            <a class="text-white" href="https://www.instagram.com/egestora" target="_blank"><i class="fab fa-2x fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-start">
                            @* @foreach (var item in primeiraColuna)
                            {
                                <a class="text-white mb-2" href="~/a/@(item.ChaveUrl)#modulos"><i class="fa fa-angle-right mr-2"></i>@(item.Nome)</a>
                            } *@
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-start">
                            @* @foreach (var item in segundaColuna)
                            {
                                <a class="text-white mb-2" href="~/a/@(item.ChaveUrl)#modulos"><i class="fa fa-angle-right mr-2"></i>@(item.Nome)</a>
                            } *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark">
            <div class="container text-white">
                <div class="copyright py-3">
                    &copy; <a href="https://www.egestora.com.br" target="_blank" rel="nofollow">@DateTime.Now.Year E-GESTORA </a> - Todos os Direitos Reservados.
                    <div>
                        <div class="poweredby">
                            <span class="title">
                                powered by
                            </span>
                            <a href="https://www.vartechs.com.br">
                                <img src="~/img/poweredby.png" title="VarTechs" alt="VarTechs">
                            </a>
                        </div>

                        <span class="texto-data-publicacao">
                            Última publicação:
                            @appSetting.VersionData (@appSetting.Version)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/online-education-website-template/lib/easing/easing.min.js"></script>
    <script src="~/template/online-education-website-template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/template/online-education-website-template/lib/counterup/counterup.min.js"></script>
    <script src="~/template/online-education-website-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/template/online-education-website-template/plugins/select2/js/select2.min.js"></script>
    <script src="~/template/online-education-website-template/plugins/select2/js/i18n/pt-BR.js"></script>
    <script src="~/lib/sweetalert2-11/sweetalert2.all.min.js"></script>

    <!--CRM-->
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/e6dbd664-91fd-49ff-a2f0-b7016da58c77-loader.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
