@inject IAppSettings appSetting

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@(ViewData["Title"] != null ? ViewData["Title"].ToString().Trim() + " - " : "")BI Super Meu Gestor E-Gestora</title>
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <link rel="stylesheet" href="~/template/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <link href="~/template/AdminLTE/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/template/AdminLTE/dist/css/adminlte.min.css">
    <link href="~/lib/chart.js/Chart.min.css" rel="stylesheet" />

    <link href="~/template/AdminLTE/custom.css?cache=@appSetting.Version" rel="stylesheet" />
    <link href="~/css/site.css?cache=@appSetting.Version" rel="stylesheet" />
    <link href="~/css/loading.css?cache=@appSetting.Version" rel="stylesheet" />

    @RenderSection("Styles", required: false)
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>

    @* //Deve ser importado no início *@
    <script>
        const BASE_URL = "@appSetting.BaseURL";
    </script>

    <script src="~/js/site.js?cache=@appSetting.Version"></script>
    <script src="~/js/HTTPClient.js?cache=@appSetting.Version"></script>


</head>


<body style="margin:0; padding: 0">
    <div>
        @RenderBody()
    </div>
    <script src="~/template/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/template/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/AdminLTE/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/template/AdminLTE/plugins/select2/js/select2.min.js"></script>
    <script src="~/template/AdminLTE/plugins/select2/js/i18n/pt-BR.js"></script>
    <script src="~/template/AdminLTE/dist/js/adminlte.min.js"></script>
    <script src="~/lib/sweetalert2-11/sweetalert2.all.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>




